Source: keysight-n5171b
Section: libs
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>=9), epics-debhelper (>= 8.14~),
               epics-dev
Standards-Version: 3.9.6
Vcs-Git: https://github.com/epicsdeb/keysight-n5171b.git
Vcs-Browser: https://github.com/epicsdeb/keysight-n5171b.git

Package: keysight-n5171b-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${epics:Depends}, epics-stream-dev
Description: EPICS support for Keysight N5171B
 Stream Device support for Keysight N5171B EXG analog signal generator.
