Source: keysight-n5171b
Section: unknown
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.8
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://anonscm.debian.org/collab-maint/keysight-n5171b.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/keysight-n5171b.git

Package: keysight-n5171b
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
